# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env
.env.*.local

# Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional: si usas Windows
desktop.ini

# Optional: si usas GitHub Pages (a veces se genera solo)
.cache/
